*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea
.DS_Store
/build
/build.gradle
/app/build.gradle
/app/proguard-rules.pro
/app/libs
/captures
/app/src/main/AndroidManifest.xml
/app/src/main/res
/app/src/main/java/com/example/myapplication/MainActivity.java
.externalNativeBuild
.cxx
local.properties

